.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: rgb(0, 0, 0, 0.8);
}

.App-header .title {
  font-size: 72px;
  padding-top: 5px;
  margin-bottom: 0em;
}

.App-header .title-divider {
  width: 85%;
  border-bottom: 1px solid #ccc;
}

.App-header .subtitle {
  font-size: 26px;
  font-style: italic;
  word-wrap: normal;
  margin: 0px;
}

.robot-emoji {
  font-size: 72px;
  padding: 1px;
  margin: 0px;
}

.transcript {
  font-size: calc(20px + 2vmin);
  padding: 5px;
  width: 100%;
  color: rgb(0, 0, 0, 0.8);
}

.input-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 70vh;
}

.microphone-holder {
  margin: auto;
}

.input-selection-holder {
  height: 10vh;
}
