.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  background-color: white;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(26px + 6vmin);
  color: rgb(0, 0, 0, 0.8);
}

.transcript {
  font-size: calc(20px + 2vmin);
  padding: 5px;
  width: 100%;
  color: rgb(0, 0, 0, 0.8);
}

.input-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 70vh;
}

.microphone-holder {
  margin: auto;
}

.input-selection-holder {
  height: 10vh;
}
